.work-icon {
  font-size: 85px;
  /* color: var(--text-green); */
}

/* telegram section */

.telegram-section {
  background-color: var(--background-color);
  color: var(--text-white);
}

@media screen and (max-width: 576px) {
  .telegram-h1 {
    font-size: 20px;
  }
}
