.footer-section {
  background-color: var(--background-color);
}

.footer-logo-div {
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 60px;
  object-fit: contain;
}

.footer-logo-div img {
  width: 100%;
  height: auto;
}

.footer-icon:hover {
  color: var(--text-green);
}

@media screen and (max-width: 576px) {
  .copy-text {
    font-size: 14px !important;
  }
}
