.faq-card {
  width: 90%;
  margin: 0 auto;
}

.show-p {
  display: block;
}

.hide-p {
  display: none;
}

.faq-h1 {
  color: var(--text-green);
}

@media screen and (max-width: 992px) {
  .faq-edit-h1 {
    font-size: large !important;
  }
}

@media screen and (max-width: 500px) {
  .faq-edit-h1 {
    font-size: 12px !important;
  }
  .show-p {
    display: block;
    font-size: 12px !important;
  }
}
